{% extends 'index.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
    <h1>Gerenciamento de Produtos</h1>

    <section class="form-section">
        <form action="/produtos/novo" method="POST">
            <input type="text" name="nome" placeholder="Nome do produto" required>
            <input type="number" name="quantidade" placeholder="Quantidade" step="1" required>
            <input type="number" name="preco_compra" placeholder="Preço de compra" step="0.01" required>
            <input type="number" name="preco_venda" placeholder="Preço de venda" step="0.01" required>
            <button type="submit" class="btn-save">Cadastrar Produto</button>
        </form>
    </section>

    <hr>

    <table class="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço de Compra</th>
                <th>Preço de Venda</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in produtos %}
            <tr>
                <td>{{ p['id'] }}</td>
                <td>{{ p['name'] }}</td>
                <td>R$ {{ p['buy_price'] }}</td>
                <td>R$ {{ p['sale_price'] }}</td>
                <td>{{ p['amount'] }}</td>
                <td>
                    <a href="/produtos/deletar/{{ p['id'] }}" class="btn-delete">Excluir</a>
                    <a href="/produtos/editar/{{ p['id'] }}" class="btn-edit">Editar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Nenhum produto encontrado no banco de dados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}